<!DOCTYPE HTML>
<HTML lang='en'>
<head>
<meta charset='utf-8'>
</head>
<body>
Physics=$$${physics}<br> 
chemistry=$$${chemistry}<br>
maths=$$${maths}<br>
english=$$${english}<br>
hindi=$$${hindi}<br>
</body>
</html>

